


header{
	background-color: #f15b31;
	color: #FFFFFF;
	padding: 30px 20px;
}
 nav{
 	background-color: #00a6b3;
 	color: #FFFFFF;
 	padding: 20px 0px;
 }

 main{
 	width: 850px;
 	margin: 35px auto;
 }

 img{
 	margin:  40px 8px 0px 8px;
 }


body{
	text-align: center;
	background: #FFF3E6;
	margin: 0;
}

h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
letter-spacing: 1px;
font-size: 45px;
margin: 0;
}

a {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0px 20px;
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: 2px solid transparent;

}

a.hover{
	border-color: white;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
font-family: "Droid Serif", serif;
line-height: 26px;
font-size: 18px;
}

footer {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	padding: 0px 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.name {
	color: #f15b31;
	font-weight: 700; 
}

a:hover {
	border-color: white;
}

.copyright{
	float: left;
	clear: both;
}

.message{
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

















